{
  "printWidth": 100,
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": false,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "endOfLine": "auto"
}
